// Font Stacks
$georgia-font-stack: Georgia, Times, "Times New Roman", serif !default
$lucida-grande-font-stack: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default

h1
  font: 100% $georgia-font-stack

p
  font: 100% $lucida-grande-font-stack

