// Font Stacks
$georgia-font-stack: Georgia, Times, "Times New Roman", serif !default
$lucida-grande-font-stack: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default

h1, h3, h5
  font-family: $lucida-grande-font-stack

h1
  font-size: 4em

p
  font-family: $georgia-font-stack

a
  text-decoration: none
  color: black
  -o-transition: 0.25s
  -ms-transition: 0.25s
  -moz-transition: 0.25s
  -webkit-transition: 0.25s
  transition: 0.25s
a:hover
  color: lightSlateGrey

nav
  top: 0
  position: fixed
  width: 100%
  background-color: black
  color: white
  border-bottom: 1px solid rgba(204,204,204,1)
  li
    display: inline
    text-align: center
  ul
    padding: 0
    list-style-type: none
    margin: 0
  a
    font-family: $lucida-grande-font-stack
    display: inline-block
    text-decoration: none
    padding: 10px 0
    color: white
    text-decoration: none
  a#openup
    display: none

.heading
  background-color: black
  color: white
  padding: 100px 0
  margin-top: 50px
  height: calc(100vh - 50px)
  -webkit-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1)
  -moz-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1)
  box-shadow: 0px 4px 5px 0px rgba(204,204,204,1)

.projects
  padding: 100px 0
  height: calc(100vh - 50px)
  h1
    text-align: center
  img#phone
    margin-top: -50px
.second
  text-align: right

.image
  margin-top: 0px
  -webkit-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1)
  -moz-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1)
  box-shadow: 0px 4px 5px 0px rgba(204,204,204,1)


// Media Break
@media screen and (max-width: 480px)
  nav
    position: relative
    border-bottom: none
    li
      border-bottom: 1px solid rgba(204,204,204,1)
  .heading
    margin-top: 0